@layer reset, base, tokens, recipes, utilities;

:root {
  --black-a7: rgba(0, 0, 0, 0.07);
  --violet-3: #e0e0ff;
  --violet-11: #ed8121;
  --text-color: #19171e;
  --body-bg: #f4f4f4;
  --primary-bg: #f4f4f4;
  --secondary-bg: #ffffff;
  --StatisticsBox-bg: #4f5bf31a;
  --activeLink-bg: #f7f7f0;
  --special-color: #ed8121;
  --ActiveorderBox: #ed812133;
  --switchBtn: #ffffff;
  --searchPlaceholder: #9a9fa5;
  --text-sec: #121327;
}

[data-theme="dark"] {
  --black-a7: rgba(255, 255, 255, 0.07);
  --violet-3: #000000;
  --violet-11: #ed8121;
  --text-color: #fcfcf9;
  --body-bg: #19171e;
  --primary-bg: #19171e;
  --secondary-bg: #1d1d25;
  --StatisticsBox-bg: #19171e;
  --activeLink-bg: #4f5bf3;
  --special-color: #4f5bf3;
  --ActiveorderBox: #ed81210d;
  --switchBtn: #2f2f3c;
  --searchPlaceholder: #9a9fa5;
  --text-sec: #7f8596;
}

*:focus {
  outline: none;
}
body,
main {
  background-color: var(--body-bg);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.text_primary {
  color: var(--text-color);
}
svg {
  fill: var(--text-color);
}
.primaryBg {
  background-color: var(--primary-bg);
}
.secondaryBg {
  background-color: var(--secondary-bg);
}
.StatisticsBox {
  background-color: var(--StatisticsBox-bg);
}
.activeLink {
  fill: "primary-background";
  box-shadow: "0px 2px 4px 0px #00000014";
  background-color: var(--activeLink-bg);
}
.noneDisplay {
  display: none;
}
.itemsCount {
  background-color: var(--primary-bg);
  color: #ed8121;
  opacity: 1;
  padding: 0.5rem 0.7rem;
  width: auto;
  height: auto;
}
.checked\:bg_primary:is(
    :checked,
    [data-checked],
    [aria-checked="true"],
    [data-state="checked"]
  ) {
  background-color: var(--special-color);
}
.bg_darkGray {
  background-color: #b7b7b7;
}
.tabsTrigger[data-state="active"] {
  color: #4f5bf3;
  background-color: #fcfcf9;
  border-radius: 12px;
  /* width: 50%; */
  border: none !important;
  border-bottom: none !important;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 4px 0px #00000014;
  box-shadow: 0px 1px 0px 0px #ffffff inset;
  transition: colors 150ms ease-in-out;
}

.orderBox {
  padding: 1rem 1.2rem;
  justify-content: c;
  flex-direction: column;
  border-radius: 12px;
  gap: 2;
  cursor: pointer;
  border: 2px solid;
  border-color: transparent;
  background-color: var(--primary-bg);
}
.ActiveorderBox {
  background-color: var(--ActiveorderBox);
  border: 2px solid;
  border-color: #ed8121;
}
.whiteCard {
  background-color: #fcfcfc;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px #00000014;
  box-shadow: 0px 1px 0px 0px #ffffff inset;
  transition: colors 150ms ease-in-out;
}

.whiteCardTitle {
  font-weight: 600;
  font-size: 20px;
  color: #121327;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RadioGroupItem {
  background-color: var(--primary-bg);
  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--black-a7);
  border: 1px solid #7f8596;
}

.RadioGroupItem:hover {
  background-color: var(--violet-3);
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.RadioGroupIndicator::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--violet-11);
}

.Label {
  color: var(--text-color);
  font-size: 15px;
  line-height: 1;
  padding-left: 15px;
}

.h45 {
  height: 45px;
  font-weight: 600;
}

.radioBox label {
  padding-left: 0px;
  margin: auto 0;
  font-weight: 500;
  text-align: left;
}

.w-70 {
  width: 65%;
}

.w-30 {
  width: 35%;
}

input::placeholder {
  color: #33383f !important;
  /* Set the color you want here */
}

input::placeholder {
  color: #33383f !important;
}

.registerBtn {
  background-color: #4f5bf3;
  margin-top: 2rem;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.registerBackBtn {
  background-color: gray;
  margin-top: 2rem;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

/* ddl */

.SelectTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  gap: 5px;
  background-color: white;
  color: #7f8596;
  box-shadow: 0 2px 10px var(--black-a7);
  border: 2px solid #e7e7e1;
  border-radius: 12px;
  min-height: 55px;
  max-height: 75px;
  width: 100%;
}

.SelectTrigger:hover {
  background-color: var(--mauve-3);
}

.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectIcon {
  color: #000;
}

.SelectIcon svg {
  width: 20px;
  height: 20px;
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 1rem;
  line-height: 1.25;
  color: #7f8596;
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 25px;
  position: relative;
  user-select: none;
}

.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  outline: none;
  background-color: #121327;
  color: #fff;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}

select option {
  color: red;
}

/* dots */
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin: 0 5px;
}

.dot.active {
  background-color: #4f5bf3;
  width: 30px;
  border-radius: 7px;
}

/* checkbox */

.CheckboxRoot {
  background-color: white;
  width: 22px;
  height: 22px;
  border: 2px solid #858585;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckboxRoot:hover {
  background-color: var(--violet-3);
}

.CheckboxIndicator {
  color: var(--violet-11);
}

.CheckboxIndicator svg {
  width: 22px;
  height: 22px;
}

.CheckboxRoot .Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}

.checkbox-checked {
  border-color: var(--violet-11);
}

.checkbox-unchecked {
  border-color: #b0b0b0;
}

.mt-3 {
  margin-top: 1.5rem;
}

.w-100 {
  width: 100%;
}

.pillBtn {
  background-color: #f7f7f0;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-flex;
  cursor: pointer;
}

.pillBtn.active {
  color: #ed8121;
  background: linear-gradient(
    90deg,
    rgba(237, 129, 33, 0.1) -0.01%,
    rgba(79, 91, 243, 0.1) 100%
  );
  border: 1px solid #ed8121;
}

/* modal */

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}
.radioBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.fs_heading {
  font-size: 3.8rem !important;
}
@media screen and (max-width: 769px) {
  body {
    height: 100%;
    overflow: auto !important;
    background-image: url(/images/12.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .h_100vh {
    height: auto !important;
  }
  .xs-none {
    display: none;
  }
  .xs-bg-none {
    background: none;
  }
  .logoUploadContainer {
    flex-direction: column;
  }
}

.fileUpload {
  text-align: center;
  border: 2px dashed var(--violet-11);
  border-radius: 12px;
  padding: 2rem 1rem;
  cursor: pointer;
}
.fileUpload img {
  margin: auto;
}
.primaryC {
  color: var(--violet-11);
}
.smGrey {
  color: #7f8596;
  font-size: 0.8rem;
}
.smBlue {
  color: #4f5bf3;
  font-size: 0.8rem;
}
.greyC {
  color: #7f8596;
}
.fileUpload h3 {
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.logoUpload .userIcon {
  border: 2px dashed grey;
  display: inline-block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
}
.logoUploadBtn {
  padding-inline: 1rem;
  background-color: #4f5bf3;
  width: auto;
  font-size: 0.9rem;
  padding: 0.7rem;
}
.logoUploadBtn2 {
  color: #000;
  padding-inline: 1rem;
  background-color: #fff;
  width: auto;
  font-size: 0.9rem;
  border: 2px solid #efefef;
  padding: 0.7rem;
}
.addBtn {
  padding: 0.4rem;
  background-color: #4f5bf3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addBtn2 {
  padding: 0.7rem;
  background-color: var(--violet-11);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button,
a {
  cursor: pointer;
}
/*
.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state="checked"] {
  background-color: black;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}
 */

.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  background-color: var(--primary-bg);
  border-radius: 34px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  display: block;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  right: 4px;
  bottom: 4px;
  background-color: var(--switchBtn);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-bg);
}

input:checked + .slider:before {
  transform: translateX(-26px);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--text-color);
}

.icon-left {
  right: 7px;
}

.icon-right {
  left: 7px;
}

.hidden {
  opacity: 0.3;
}
.searchplaceholder::placeholder {
  color: #9a9fa5 !important;
  font-weight: 500;
}
.b-none {
  border: none !important;
}

.hover\:bg_\#F7F7F0:is(:hover, [data-hover]) {
  background-color: var(--activeLink-bg);
}

.items-center {
  align-items: center;
}
.logoUploadContainer {
  gap: 15px;
  display: flex;
}
.text_secondary {
  color: var(--text-sec);
}

.with-line::after {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  bottom: 0;
  width: 1px;
  height: 40px;
  background-color: #ddd;
}

.transparent-button {
  background-color: transparent;
  color: rgba(79, 91, 243, 1);
}

.flexCol {
  flex-direction: column;
}
/* addproducts steps */
.steps-container {
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.step {
  border-radius: 16px;
  background-color: var(--secondary-bg);
  margin-right: 2rem;
  margin-left: 1.2rem;
  padding: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.step h3 {
  font-size: 1.2rem;
  color: var(--searchPlaceholder);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.step p {
  color: var(--searchPlaceholder);
  font-size: 0.9rem;
}
.checkStep {
  padding: 0.5rem;
  border-radius: 50px;
  color: #fff;
  background-color: var(--searchPlaceholder);
  font-size: 1.2rem;
}
.active .checkStep {
  background-color: var(--violet-11);
}

.active .step {
  background: linear-gradient(
    90deg,
    rgba(237, 129, 33, 0.1) -0.01%,
    rgba(79, 91, 243, 0.1) 100%
  );
  border: 2px solid #ed8121;
}
.active .step h3,
.active .step p {
  color: var(--text-color);
}
.steps-container {
  position: relative;
}

.dashed-line {
  position: absolute;
  top: 68%;
  left: 16px;
  height: 115px;
  background-image: linear-gradient(to bottom, #ccc 50%, rgba(255, 255, 255, 0) 0%);
  z-index: 0;
  border-left: 2px dashed #ccc;
}

.step-Parent {
  position: relative;
  z-index: 1;
}

.checkStep {
  position: relative;
  z-index: 2;
}





.formLabel {
  font-weight: 600;
  margin-bottom: 0.4rem;
  display: block;
  display: flex;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7rem;
}

.categoryItem {
  flex: 1 0 calc(33% - 16px);
  box-sizing: border-box;
  text-align: center;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}
.stringsList {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}
.stringsList li {
  display: flex;
  border: 2px solid #e7e7e1;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.stringsListInput button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0px, -50%);
  background-color: var(--violet-11);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
}
h2 {
  font-weight: 600;
}
.recomProduct {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.recomProduct h2 {
}
.recomProduct p {
  font-size: 0.9rem;
  color: var(--searchPlaceholder);
  line-height: 1.3;
}

/* custom scrollbar */

.scrollbar {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #121327;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.productReviewCard {
  background-color: var(--secondary-bg);
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 40px 64px 0px #dcd7cc73;
  max-width: 50%;
  margin: 0 auto;
}
.euroIcon {
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
  background-color: #fcfcfc;
  box-shadow: 0px 4px 8px -4px #00000040;
  box-shadow: 0px 2px 0px 0px #ffffff40 inset;
  box-shadow: 0px -1px 1px 0px #0000000a inset;
  margin-right: 0.5rem;
  font-weight: 600;
}

/* DateInput.css */
.custom-date-input {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  color: transparent;
  background: transparent;
}

.custom-date-input::after {
  content: "\25BC"; /* Unicode for chevron down */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.7rem;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-64 {
  margin-bottom: 64px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-30 {
  margin-left: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-20 {
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.grow-100 {
  width: 10%;
}
.grow-200 {
  width: 20%;
}

.grow-300 {
  width: 30%;
}
.grow-400 {
  width: 40%;
}
.grow-500 {
  width: 50%;
}
.grow-600 {
  width: 60%;
}
.grow-700 {
  width: 70%;
}
.grow-800 {
  width: 80%;
}
.grow-900 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.font-bold {
  font-weight: 700;
}

.flex {
  display: flex;
}
.justifyBetween {
  justify-content: space-between;
}

.active-row {
  opacity: 1;
}

.inactive-row {
  opacity: 0.5;
}

.w-100 {
  width: 100%;
}
.ml-4 {
  margin-left: 16px;
}

.tableBtn {
  border: 2px solid;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  background-color: transparent;
  border-color: rgba(237, 129, 33, 1);
  color: rgba(237, 129, 33, 1);
}

.mainButton {
  background-color: rgba(237, 129, 33, 1);

  border-radius: 15px;
}
.subButton {
  background-color: transparent;
  border: 2px solid rgba(127, 133, 150, 0.3);
  border-radius: 15px;
  color: rgba(34, 37, 45, 1);
}
.text-bold {
  font-weight: 600;
}
